<td><%= link_to 'Back', requests_path %></td>

<%= form_for :package, url: packages_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :tracking_number %><br>
    <%= f.text_field :tracking_number %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
